body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(269.74deg, rgba(223, 79, 182, 0.955) 39.76%, rgba(43, 185, 33, 0.664) 60.32%);
    overflow: hidden
}

p {
    margin: 0;
    padding: 0;
}

.contanier {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.cem {
    font-size: 260px;
    background: linear-gradient(180deg, #d615a0 0%, rgba(0, 0, 0, 0.448) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.days {
    font-size: 210px;
    position: relative;
    top: -160px;
    background: linear-gradient(180deg, #139c19 0%, rgba(0, 0, 0, 0.647) 76.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.challeng {
    font-size: 68px;
    position: relative;
    top: -220px;
    background: linear-gradient(180deg, #000000 0%, rgba(61, 61, 61, 0.642) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inspired {
    font-size: 32px;
    position: relative;
    top: -200px;
    background: linear-gradient(180deg, #000000 0%, rgba(61, 61, 61, 0.642) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}